<html>
    <head>
        <meta name="viewport" content="width=500">
        <link rel="stylesheet" href="./style.css">
        <script src="./script.js"></script>
    </head>
    
    <div id="main-container">
        <h1 id="question-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, dicta!</h1>
    
        <div id="questions-container">

        </div>

        <div class="buttons-container">
            <button class="back-button default-button" onCLick="onBack();">Indietro</button>
            <button class="forward-button default-button" onCLick="onConfirm();">Avanti</button>
        </div>
    </div>
</html>