* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 23, 23);
}

#main-container {
    width: 30%;

    h1 {
        text-align: center;
        color: white;
    }

    p {
        color: white;
    }
}

input {
    cursor: pointer;
}


.buttons-container {
    margin-top: 20px;
    gap: 20px;
    display: flex;
}

.default-button {
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 7.5px;
    cursor: pointer;
}

.back-button {
    background-color: red;
}

.forward-button {
    background-color: green;
}

@media only screen and (max-width: 1500px) {
    #main-container {
        width: 40%;
    }
}

@media only screen and (max-width: 1200px) {
    #main-container {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    #main-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    body {
        display: flex;
        align-items: start;
    }

    .buttons-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .default-button {
        border: none;
        outline: none;
        color: white;
        padding: 15px 25px;
        border-radius: 7.5px;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 650px) {
    #main-container {
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
    }
}

select {
    width: 50%;
    margin-bottom: 20px;
}